<!DOCTYPE html>
<html lang="en">
<head>
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
<!--    <title>List Smartphone</title>-->
<!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<!--    <script type="text/javascript">-->
<!--        function addNewMusic() {-->

<!--        };-->
<!--        $.ajax({-->

<!--            type: "POST",-->
<!--            data: JSON.stringify(addNewMusic()),-->
<!--            //tên API-->
<!--            url: "/musics",-->
<!--            success: successHandler-->

<!--        });-->
<!--        event.preventDefault();-->
<!--        let page = 0;-->
<!--        function nextPage(){-->
<!--            page++;-->
<!--            successHandler();-->
<!--        }-->

<!--        function previousPage() {-->
<!--            page&#45;&#45;;-->
<!--            successHandler();-->
<!--        }-->
<!--    </script>-->
</head>
<body>

</body>
</html>